<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container notice">

  <h4 class="darkGreyHeader top-bottom-margin center-align">{{processingMessage}}</h4>

</div>
