<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container row top-padding">
  <form #loginForm="ngForm" class="col s12">
    <div class="row">
      <div role="alert" *ngIf="error" class="col s12">
        <span class="red-text text-darken-4">{{ error }}</span>
      </div>
    </div>

    <h2 class="inline-page-title center-align">
      <a (click)="goBack()" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>Back</a>

      {{ group.name }} - Group Members</h2>

    <div class="row">

      <div class="input-field col s12">

        <table class="bordered">
          <thead>
          <tr>
            <th style="width:30%">Name</th>
            <th style="width:40%">Email</th>
            <th style="width:10%">Role</th>
            <th style="width:15%">Status</th>
            <th style="width:5%" class="center-align">Settings</th>
          </tr>
          <tr *ngFor="let member of members; let i = index;">
            <td>{{ member.first_name }} {{member.last_name}}</td>
            <td>{{ member.email }}</td>
            <td [ngClass]="{'bold-text' : member.role === 'admin' || member.role === 'owner'}">{{ member.role }}</td>
            <td *ngIf="member.user_id !== 0"
                [ngClass]="{'red-text' : !member.validated, 'bold-text' : !member.validated}">
              {{ member.validated ? 'validated' : 'not validated' }}
            </td>
            <td *ngIf="member.user_id === 0">-</td>
            <td class="center-align"><a *ngIf="member.user_id !== 0"
                                        (click)="viewMemberDetails(member)"><i class="material-icons">settings</i></a>
            </td>
          </tr>
          </thead>
        </table>
      </div>
      <div class="col s12 top-bottom-margin right-align">
        <a (click)="inviteUsersToGroup()">Invite Others to Group</a>
      </div>
    </div>

  </form>

</div>
