<div class="container row top-padding">
  <h2 class="center-align">Welcome to Ping!</h2>
  <div class="center-align">

    <img src="/assets/ping_logo_01.png" style="width:150px">

  </div>
  <div class="signup-parent">
    <div class="row">
      <div class="col s12 center-align">
        <a routerLink="/signin">Existing user? Sign in to Ping</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <a routerLink="/signup">New user? Sign up to Ping</a>
      </div>
    </div>

  </div>
</div>
