$copy-color: #ef8e04; /* #02263e */
$cta-color: #ef8e04;
$primary-accent-color: #533f5b; /* purple */
$pale-gray-color: #F4F6F8;
$pale-gray-border-color: #EBEEF2;
$pale-text-color: #74828A;
$page-background: #FDFDFD;

$small-text: 13px;

$orangeColor: #f36301;
$blueColor: #1741d8;
$lightWhite: #FAFAFA;
$darkGrey: #3e4145;
$mediumGrey: #a1a1a1;
$lightGrey: #e6e6e6;
$veryDarkGrey: #26272a;
$titleGrey: #454545;
$titleLightGrey: #424242;
$calendarGreen: #d78a3c;
$mainOrange: #d78a3c;
