<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container" style="margin-top:20px;">

  <h2 class="inline-page-title center-align">
    <a routerLink="/" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>Back</a>
    {{groupName}} Events</h2>

  <div class="right-align calendar-view-parent">

    <button class="waves-effect waves-light btn"
            mwlCalendarPreviousView
            (click)="clearSelectedEvents()"
            [(viewDate)]="viewDate"
            [view]="view">
      <i class="material-icons left">chevron_left</i>
      Previous
    </button>

    <button class="waves-effect waves-light btn"
            mwlCalendarToday
            (click)="clearSelectedEvents()"
            [(viewDate)]="viewDate">
      Today
    </button>

    <button class="waves-effect waves-light btn"
            (click)="clearSelectedEvents()"
            mwlCalendarNextView
            [(viewDate)]="viewDate"
            [view]="view">
      <i class="material-icons right">chevron_right</i>
      Next
    </button>

  </div>

  <h3 class="center-align">{{selectedMonth }}</h3>

  <mwl-calendar-month-view
    [viewDate]="viewDate"
    (dayClicked)="dayClicked($event.day)"
    [events]="events">
  </mwl-calendar-month-view>

  <table *ngIf="selectedEvents.length > 0" style="margin-top:30px;" class="bordered">
    <thead>
    <th>Event Title</th>
    <th class="center-align">Event Date</th>
    <th class="center-align">Signatures</th>
    <th class="center-align">Payments</th>
    <th class="center-align">Edit</th>
    <th class="center-align">Delete</th>
    </thead>
    <tbody>
    <tr *ngFor="let event of selectedEvents; let i = index;">
      <td><a (click)="viewEventDetails(i)">{{ event.title | ellipsis:20 }}</a></td>
      <td class="center-align">{{ event.start | friendlydatetime }} - {{ event.end | friendlydatetime }}</td>
      <td class="center-align">

        <a *ngIf="event.signature_document_id && event.signature_document_template_id" (click)="viewEventSignedDocs(event);">
          <i class="material-icons">border_color</i></a>
      </td>
      <td class="center-align">

        <a *ngIf="event.payment_applicable"
           (click)="viewEventPayments(event);"><i class="material-icons">payment</i></a>

      </td>
      <td class="center-align">
        <a (click)="editEvent(event, groupId)"><i class="material-icons">create</i></a>

      </td>
      <td class="center-align">
        <a (click)="deleteEvent(event, i)"><i class="material-icons">delete</i></a>
      </td>

    </tr>
    </tbody>
  </table>

  <a style="margin-top:20px;" class="add-new-wrapper" (click)="createEvent()">
    <div class="btn-floating btn-large waves-effect waves-light orange">
      <i class="material-icons">add</i>
    </div>
    <span>Create new event</span>
  </a>

</div>


