<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="wide-container" style="margin-top:20px;">

  <h2 class="inline-page-title center-align">
    <a routerLink="/" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>Back</a>
    {{groupName}} Events</h2>

  <div class="right-align calendar-view-parent">

    <button  mwlCalendarPreviousView
            (click)="clearSelectedEvents()"
            [(viewDate)]="viewDate"
            [view]="view" mat-raised-button><mat-icon>fast_rewind</mat-icon></button>
    <button mwlCalendarToday
            (click)="clearSelectedEvents()"
            [(viewDate)]="viewDate" mat-raised-button>Today</button>
    <button (click)="clearSelectedEvents()"
            mwlCalendarNextView
            [(viewDate)]="viewDate"
            [view]="view" mat-raised-button><mat-icon>fast_forward</mat-icon></button>

  </div>

  <h3 class="center-align">{{selectedMonth }}</h3>

  <mwl-calendar-month-view
    [viewDate]="viewDate"
    (dayClicked)="dayClicked($event.day)"
    [events]="events">
  </mwl-calendar-month-view>

  <table *ngIf="selectedEvents.length > 0" style="margin-top:30px;margin-bottom:100px;" class="bordered">
    <thead>
    <th>Event Title</th>
    <th class="center-align">Event Date</th>
    <th *ngIf="groupAdmin" class="right-align">Email Open Rate</th>
    <th *ngIf="groupAdmin" class="center-align">Signatures</th>
    <th *ngIf="groupAdmin" class="center-align">Payments</th>
    <th *ngIf="groupAdmin" class="center-align">Edit</th>
    <th *ngIf="groupAdmin" class="center-align">Delete</th>
    </thead>
    <tbody>
    <tr *ngFor="let event of selectedEvents; let i = index;" [ngClass]="{'past-event' : event && !event.future_date}" >
      <td><a [ngClass]="{'past-event' : event && !event.future_date}" (click)="viewEventDetails(event)">{{ event.title | ellipsis:20 }}</a></td>
      <td [ngClass]="{'past-event' : event && !event.future_date}" class="center-align">{{ event.start | friendlydatetime }} - {{ event.end | friendlydatetime }}</td>

      <td *ngIf="groupAdmin" class="right-align">
          <span *ngIf="event.emails_opened_stats">{{event.emails_opened_stats}}</span>
          <span *ngIf="!event.emails_opened_stats">-</span>
        </td>

      <td *ngIf="groupAdmin" class="center-align">

        <a [ngClass]="{'past-event' : event && !event.future_date}" *ngIf="event.signature_document_id && event.signature_document_template_id" (click)="viewEventSignedDocs(event);">
          <i class="material-icons">border_color</i></a>
      </td>
      <td *ngIf="groupAdmin" class="center-align">

        <a [ngClass]="{'past-event' : event && !event.future_date}" *ngIf="event.payment_applicable"
           (click)="viewEventPayments(event);"><i class="material-icons">payment</i></a>

      </td>
      <td *ngIf="groupAdmin" class="center-align">
        <a [ngClass]="{'past-event' : event && !event.future_date}" (click)="editEvent(event, groupId, schoolId)"><i class="material-icons">create</i></a>

      </td>
      <td *ngIf="groupAdmin" class="center-align">
        <a [ngClass]="{'past-event' : event && !event.future_date}" (click)="deleteEvent(event, i)"><i class="material-icons">delete</i></a>
      </td>

    </tr>
    </tbody>
  </table>

  <a *ngIf="groupAdmin" [ngClass]="{'past-event' : event && !event.future_date}" style="margin-top:20px;" class="add-new-wrapper" (click)="createEvent()">
    <div class="btn-floating btn-large waves-effect waves-light orange">
      <i class="material-icons">add</i>
    </div>
    <span>Create new event</span>
  </a>

</div>


