<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="event && !loading" class="container event">
  <h2 class="inline-page-title center-align">
    <a (click)="goBack()" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>Back</a>
  </h2>

  <div class="content">

    <h4 class="darkGreyHeader top-bottom-margin center-align">{{event.title}}</h4>

    <h3 class="notice-subtitle">{{event.group_name}}</h3>
    <h5 class="notice-sub-subtitle">{{event.school_name}}</h5>
    <p class="notice-date">{{ event.start_date | friendlydate }}</p>

    <div class="image-parent">
      <img class="details-image" *ngIf="event.image" src="{{ event.image }}"/>
    </div>
    <p class="description-parent">
      {{ event.description }}
    </p>

    <div class="center-align top-bottom-margin" *ngIf="event && !!event.document">
      <a href="{{event.document}}">View Document</a>
    </div>

  </div>

</div>
