<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="event && !loading" class="container event">
  <h2 class="inline-page-title center-align">
    <a (click)="goBack()" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>Back</a>
  </h2>

  <div class="content entity-details-parent">

    <h4 class="darkGreyHeader top-bottom-margin center-align">{{event.title}}</h4>

    <h3 class="notice-subtitle">{{event.group_name}}</h3>
    <h5 class="notice-sub-subtitle">{{event.school_name}}</h5>
    <p class="notice-date">{{ event.start_date | friendlydate }}</p>

    <div class="image-parent">
      <img class="details-image" *ngIf="event.image" src="{{ event.image }}"/>
    </div>
    <p class="details-description-parent" [innerHTML]="event.description"></p>

    <div class="center-align top-bottom-margin" *ngIf="event && !!event.document">
      <a href="{{event.document}}">View Document</a>
    </div>

  </div>
  <div *ngIf="event && event.signature_template_id && event.signature_document_id && event.signature_user_document_status !== 'complete'"
       class="center-align top-bottom-margin">
    <h4 class="darkGreyHeader top-bottom-margin center-align">{{event.signature_document_title}}</h4>
    <p class="details-description-parent">{{event.signature_document_signature}}</p>

    <button (click)="signDocument()" mat-raised-button color="primary">{{event.signature_document_call_to_action}}</button>
    <h4 *ngIf="event.signature_document_attachment" class="darkGreyHeader top-bottom-margin center-align">OR</h4>
    <button *ngIf="event.signature_document_attachment" (click)="manuallySignDocument(event.signature_document_attachment)" mat-raised-button color="accent">Download document to sign manually</button>

  </div>

</div>
