<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="container row step-one">
  <form #loginForm="ngForm" class="col s12">
    <div class="row">
      <div role="alert" *ngIf="error" class="col s12">
        <span class="red-text text-darken-4">{{ error }}</span>
      </div>
    </div>

    <h3 class="title center-align">Create a Group - Step 1</h3>

    <div [hidden]="selectedSchool" class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <h6>What school does this group belong to?</h6>

            <div *ngIf="mySchools && mySchools.length > 0" style="padding:20px 0;">

              <div style="padding:10px;" *ngFor="let school of mySchools; let i = index;">
                <a style="font-size:20px" (click)="selectMySchool(school)">{{school.name}}</a>
              </div>

            </div>

            <input name="school" no-match-found-text="&nbsp;"

                   (valueChanged)="schoolSelected($event)"

                   open-on-focus="false" id="school"
                   auto-complete [(ngModel)]="schoolName"
                   [source]="arrayOfSchools"
                    value-property-name="id"
                    display-property-name="name"
                   [list-formatter]="autocompleListFormatter"
                  />

          </div>
        </div>
      </div>
    </div>

    <div [hidden]="selectedSchool" class="row">
      <div style="margin-top:-10px;margin-left:10px;" class="input-field col s12">

        <div class="file-field input-field">
          <div class="btn">
            <div class="upload-icon">
              <img src="/assets/upload.svg"/>
            </div>
            <span>Upload a school logo</span>
            <input id="logoUpload" type="file">
          </div>
          <div class="file-path-wrapper">
            <img *ngIf="!!schoolImage" src="{{ schoolImage }}"
                 style="max-width:300px;border:2px solid #EBEBEB;border-radius:2px;margin-left:20px;"/>
            <input style="display: none" class="file-path" type="text">
            <a *ngIf="!!schoolImage" class="delete-upload">
              <img src="/assets/delete.svg"/>
            </a>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col s12 left submit-button-parent">
        <button style="margin-top:10px;" (click)="createSchool()"
                class="btn waves-effect waves-light" type="submit" name="action">Create School
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>




  </form>
</div>
