<div class="container row step-one">
  <form #loginForm="ngForm" class="col s12">
    <div class="row">
      <div role="alert" *ngIf="error" class="col s12">
        <span class="red-text text-darken-4">{{ error }}</span>
      </div>
    </div>

    <h3 class="title">Create a Group - Step 1</h3>

    <div [hidden]="selectedSchool" class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <h6>What school does this group belong to?</h6>

            <input name="school" no-match-found-text="&nbsp;"

                   (valueChanged)="schoolSelected($event)"

                   open-on-focus="false" id="school"
                   auto-complete [(ngModel)]="schoolName"
                   [source]="arrayOfSchools"
                    value-property-name="id"
                    display-property-name="name"
                   [list-formatter]="autocompleListFormatter"
                  />

          </div>
        </div>
      </div>
    </div>

    <div [hidden]="selectedSchool" class="row">
      <div style="margin-top:-10px;margin-left:10px;" class="input-field col s12">

        <div class="file-field input-field">
          <div class="btn">
            <div class="upload-icon">
              <img src="/assets/upload.svg"/>
            </div>
            <span>Upload a school logo</span>
            <input id="logoUpload" type="file">
          </div>
          <div class="file-path-wrapper">
            <img *ngIf="!!schoolImage" src="{{ schoolImage }}"
                 style="max-width:300px;border:2px solid #EBEBEB;border-radius:2px;margin-left:20px;"/>
            <input style="display: none" class="file-path" type="text">
            <a *ngIf="!!schoolImage" class="delete-upload">
              <img src="/assets/delete.svg"/>
            </a>
          </div>
        </div>

      </div>
    </div>

    <div [hidden]="selectedSchool" class="row">
      <div class="col s12 left submit-button-parent">
        <button style="margin-top:10px;" [disabled]="!loginForm.form.valid" (click)="createSchool()"
                class="btn waves-effect waves-light" type="submit" name="action">Create School
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

    <div *ngIf="selectedSchool" class="row">
      <div class="col s12"><h5>{{ selectedSchool.name }}</h5></div>
      <div class="col s12" style="text-align: center;">

        <img style="max-width:200px;max-height: 200px;" class="round-image center" src="{{schoolImage}}" />

      </div>
      <div class="col s6 center">
        <button (click)="cancelSelectSchool()"
                class="btn waves-effect waves-light" style="width:150px;" type="button" name="action">Cancel
          <i class="material-icons right">clear</i>
        </button>
      </div>
      <div class="col s6 center">
        <button (click)="selectSchool()"
                class="btn waves-effect waves-light" style="width:150px;" type="submit" name="action">Select
          <i class="material-icons right">send</i>
        </button>
      </div>


    </div>


  </form>
</div>
