<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="container row">
  <form #loginForm="ngForm" class="col s12">
    <div class="row">
      <div role="alert" *ngIf="error" class="col s12 error-message-header-parent">
        <span class="red-text text-darken-4">{{ error }}</span>
      </div>
    </div>

    <h2 class="inline-page-title center-align">
      <a (click)="goBack()" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>back</a>
      Create a Group - Step 2</h2>

    <h6><strong>School: </strong>{{ schoolName }}</h6>

    <div class="row">
      <div class="input-field col s12">
        <h6>Give your group a name</h6>
        <input autocomplete="off" style="margin-bottom: 15px;width:500px;"
               id="groupName" required [(ngModel)]="groupName"
               name="groupName" type="text" class="validate form-control">
        <label style="display: none" for="groupName">Group Name</label>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <h6>Give your group a description</h6>
        <textarea [(ngModel)]="groupDescription"
                  id="groupDescription" style="max-width:500px;height:100px;"
                  name="groupDescription" class="materialize-textarea"
                  data-length="512"></textarea>
        <label style="display: none" for="groupDescription">Textarea</label>

      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <h6>Link to your group's WhatsApp group (optional)</h6>
        <input autocomplete="off" style="margin-bottom: 15px;width:500px;"
               id="whatsApp" [(ngModel)]="whatsApp"
               name="whatsApp" type="text" class="validate form-control">
        <label style="display: none" for="groupName">Link to Group's WhatsApp group</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">

        <div class="file-field input-field">
          <div class="btn">
            <div class="upload-icon">
              <img src="/assets/upload.svg"/>
            </div>
            <span>Upload optional image or logo</span>
            <input id="logoUpload" type="file">
          </div>
          <div class="file-path-wrapper">
            <img *ngIf="!!groupImage" src="{{ groupImage }}"
                 style="max-width:300px;border:2px solid #ebebeb;border-radius:2px;margin-left:20px;"/>
            <input style="display: none" class="file-path" type="text">
            <a *ngIf="!!groupImage" (click)="groupImage = null" class="delete-upload">
              <img src="/assets/delete.svg"/>
            </a>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="includeHomework" name="groupIncludeHomework"
               type="checkbox" id="groupIncludeHomework"/>
        <label class="description" for="groupIncludeHomework">Include homework functionality</label>
        <p class="description_hint">If true, group admins can create homework notices, allowing group members to keep informed of homework requirements for a particular day.</p>
      </div>
    </div>


    <div class="row group-meta-parent">
      <div class="input-field col s12">
        <input [(ngModel)]="groupPrivate" name="groupPrivate"
               type="checkbox" id="groupPrivate"/>
        <label class="description" for="groupPrivate">This is a private group</label>
        <p class="description_hint">If true, users can only join private groups with an invite token, or by being invited directly by you or another group administrator.</p>
      </div>
    </div>


    <div class="row group-meta-parent">
      <div class="input-field col s12">
        <input [(ngModel)]="newMembersVetted" name="newMembersVetted"
               type="checkbox" id="newMembersVetted"/>
        <label class="description" for="newMembersVetted">New group members must be vetted by the group owner or admin</label>
        <p class="description_hint">if true, all new members who join the group must be vetted by you or another group administrator in order to activate their group
          membership.<br>
          The vetting process is done within this admin console.</p>
      </div>
    </div>

    <div class="row group-meta-parent">

      <h6>Membership questions</h6>

      <a (click)="addQuestion()">
        <button mat-fab color="accent">Add</button>
      </a>

      <p *ngIf="questions && questions.length == 0" class="description_hint">Ask new members questions when joining this group.<br>For example, what is your child's name etc.</p>


      <div *ngIf="questions && questions.length > 0" class="input-field col s12">

        <table class="bordered">
          <thead>
          <tr>
            <th style="width:80%">Question</th>
            <th style="width:10%">Required</th>
            <th class="right-align">Delete</th>
            <th class="right-align">Edit</th>
          </tr>
          <tr *ngFor="let item of questions; let i = index;">
            <td style="width:80%">{{ item.question_title }}</td>
            <td>{{ !!item.required ? 'yes' : 'no' }}</td>
            <td class="right-align"><a (click)="deleteQuestion(i);">
              <i class="material-icons">mode_delete</i></a></td>
            <td class="right-align">

              <a (click)="editQuestion(i)">
                <button mat-icon-button>
                  <mat-icon aria-label="Example icon-button with a heart icon">mode_edit</mat-icon>
                </button>
              </a></td>
          </tr>
          </thead>
        </table>
      </div>
    </div>

    <div *ngIf="questionProcessing" style="background-color: #DADADA;padding:10px;">

      <div class="row">

        <h6 style="margin-left:12px;" *ngIf="!!question && question.id !== -1">Edit Question</h6>
        <h6 style="margin-left:12px;" *ngIf="!!question && question.id === -1">Add Question</h6>
        <div class="input-field col s12">
          <h6>Question</h6>
          <input *ngIf="!!question" autocomplete="off"
                 style="margin-bottom: 15px;width:500px;"
                 id="questionTitle" required [(ngModel)]="question.question_title"
                 name="questionTitle" type="text" class="validate form-control">
          <label style="display: none" for="questionTitle">Question</label>
        </div>
        <div class="input-field col s12">
          <input *ngIf="!!question"
                 [(ngModel)]="question.required"
                 name="questionRequired"
                 type="checkbox" id="questionRequired"/>
          <label class="description" for="questionRequired">This question is required (cannot be left empty)</label>
        </div>
      </div>


      <div class="row">
        <div class="col s12 submit-button-parent">

          <button style="float:left;margin-left:80px;" mat-raised-button (click)="cancelAddEditQuestion()">Cancel</button>
          <button style="float:right;margin-right:80px;" mat-raised-button color="primary" (click)="saveQuestion()">Save</button>

        </div>
      </div>

    </div>


    <div class="row">
      <div class="col s12 submit-button-parent top-bottom-margin">
        <button mat-raised-button color="primary"
                type="submit" name="action"
                [disabled]="!loginForm.form.valid"
                (click)="createGroup()">Save Details
        </button>
      </div>
    </div>
  </form>
</div>
