<div class="container row top-padding">
  <h3 class="center-align">Welcome!</h3>
  <div class="signup-parent">
    <form #loginForm="ngForm" class="col s12">
      <div class="row">
        <div role="alert" *ngIf="error" class="col s12">
          <span class="red-text text-darken-4">{{ error }}</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="firstname" required [(ngModel)]="firstName"
                 name="firstname" type="text" class="validate form-control">
          <label for="firstname">First Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="lastname" required [(ngModel)]="lastName"
                 name="lastname" type="text" class="validate form-control">
          <label for="lastname">Last Name</label>
        </div>
      </div>

      <div style="display:none" class="row">
        <div class="input-field col s12">
          <input id="mobile" [(ngModel)]="mobile"
                 name="mobile" type="text" class="validate form-control">
          <label for="mobile">Mobile Number</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" required [(ngModel)]="email"
                 name="email" type="email" class="validate form-control">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" required type="password"
                 [(ngModel)]="password"
                 name="password" class="validate form-control">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="row">
        <div class="col s12 center-align top-padding">
          <button [disabled]="!loginForm.form.valid" (click)="signUpUser()"
                  class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
