<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="container notices">
  <div class="content">

    <h2 class="inline-page-title center-align">
      <a (click)="backToList()" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>Back</a>
      "{{entityTitle}}" - Make Payment</h2>

    <h5>Amount Due: {{ paymentCurrency }} {{ paymentTotal | number: '1.2-2' }}</h5>


    <div class="row">


      <div class="col s6">
        <h6>Your credit card number</h6>
        <input style="max-width:300px;" class="validate short"
               [(ngModel)]="card"
               placeholder="Card Number" id="cardNumber" type="number">
      </div>

      <div class="col s6">
        <h6>Your credit card CVV number</h6>
        <input style="max-width:300px;" class="validate short"
               [(ngModel)]="cvc"
               placeholder="Card CVV Number" id="cvvNumber" type="number">
      </div>

    </div>
    <div class="row">
      <h6>Card Expiry Month</h6>

      <div class="col s6">
        <mat-form-field style="min-width:200px;">
          <mat-select [style.width]="'100%'" [(ngModel)]="month" placeholder="Expiry Month">
            <mat-option *ngFor="let month of months" [value]="month">
              {{ month}})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s6">
        <mat-form-field style="min-width:200px;">
          <mat-select [style.width]="'100%'" [(ngModel)]="year" placeholder="Expiry Month">
            <mat-option *ngFor="let year of years" [value]="year">
              {{ year}})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col s6">
        <h6 for="paymentdate">The date of payment</h6>
        <ng2-datepicker name="paymentdate" id="paymentdate" [options]="paymentDateOptions"
                        [(ngModel)]="paymentDateModel"></ng2-datepicker>
      </div>

      <div class="col s6">
        <h6>Payment reference</h6>
        <input style="max-width:250px;" class="validate short" [(ngModel)]="paymentReference" placeholder="Payment Reference" id="paymentReference" type="text">
      </div>
    </div>
    <div *ngIf="processManualPayment" class="row top-bottom-margin">
      <div class="col s6 left-align">
        <button mat-raised-button (click)="processManualPayment = false">Cancel</button>
      </div>
      <div class="col s6 right-align">
        <button mat-raised-button color="primary" (click)="makeManualPayment()">Process Manual Payment</button>
      </div>
    </div>


  </div>
</div>
