<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && !processPayment" class="container notice">
  <h2 class="inline-page-title center-align">
    <a (click)="goBack()" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>Back</a>
  </h2>

  <div class="content entity-details-parent">

    <h4 class="darkGreyHeader top-bottom-margin center-align">{{notice.title}}</h4>

    <h3 class="notice-subtitle">{{notice.group_name}}</h3>
    <h5 class="notice-sub-subtitle">{{notice.school_name}}</h5>
    <p class="notice-date">published: {{ notice.show_date | friendlydate }}</p>

    <div class="image-parent">
      <img class="details-image" *ngIf="notice.image" src="{{ notice.image }}"/>
    </div>
    <p class="details-description-parent" [innerHTML]="notice.description"></p>

    <div class="center-align top-bottom-margin" *ngIf="notice && !!notice.document">
      <a href="{{notice.document}}">View Document</a>
    </div>

  </div>

  <div *ngIf="notice && notice.payment_applicable && !notice.amount_paid_by_user && !processPayment"
       class="center-align top-bottom-margin">
    <p class="details-description-parent">{{notice.payment_instructions}}</p>
    <button (click)="processPayment = true" mat-raised-button color="primary">Go to online payment page</button>
  </div>
</div>

<div *ngIf="processPayment" class="container top-bottom-margin">
  <div class="row">
    <div class="col s12"><h3>Make Payment</h3></div>

    <div class="col s12">
      <h6 *ngIf="notice.payment_allow_user_to_set">Payment amount (R)</h6>
      <h6 *ngIf="!notice.payment_allow_user_to_set">Payment amount - R {{notice.payment_amount}}</h6>

      <input *ngIf="notice.payment_allow_user_to_set" style="max-width:250px;" class="validate short" [(ngModel)]="notice.payment_amount"
             placeholder="Payment Amount" id="paymentAmount" type="text">
    </div>
    <div class="col s12">
      <h6>Your Credit Card Number</h6>
      <input style="max-width:250px;" class="validate short" [(ngModel)]="cardNumber" placeholder="Your Credit Card Number" id="CreditCardNumber" type="number">
    </div>
    <div class="col s12">
      <h6>Your CVC Number</h6>
      <input style="max-width:250px;" class="validate short" [(ngModel)]="cvcNumber" placeholder="Your CVC Number" size="4" id="cvcNumber" type="number">
    </div>
  </div>
  <div class="row top-bottom-margin">
    <div class="col s6">
      <mat-form-field style="min-width:400px;">
        <mat-select style="width:100%" [(ngModel)]="cardExpiryMonth" placeholder="Select expiry month">
          <mat-option *ngFor="let month of expiryMonths" [value]="month">
            {{month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col s6">
      <mat-form-field style="min-width:400px;">
        <mat-select style="width:100%" [(ngModel)]="cardExpiryYear" placeholder="Select expiry year">
          <mat-option *ngFor="let year of expiryYears" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>

      </mat-form-field>
    </div>
  </div>
  <div class="row top-bottom-margin">
    <div class="col s12">
      <button (click)="pay()" mat-raised-button color="primary">Make Payment</button>
    </div>

  </div>
</div>

<div *ngIf="notice && notice.signature_template_id && notice.signature_document_id && notice.signature_user_document_status !== 'complete' && !processPayment"
     class="center-align top-bottom-margin container">
  <h4 class="darkGreyHeader top-bottom-margin center-align">{{notice.signature_document_title}}</h4>
  <p class="details-description-parent">{{notice.signature_document_signature}}</p>

  <button (click)="signDocument()" mat-raised-button color="primary">{{notice.signature_document_call_to_action}}</button>
  <h4 *ngIf="notice.signature_document_attachment" class="darkGreyHeader top-bottom-margin center-align">OR</h4>
  <button *ngIf="notice.signature_document_attachment" (click)="manuallySignDocument(notice.signature_document_attachment)" mat-raised-button color="accent">Download document to sign manually</button>

</div>


<div style="height:200px">&nbsp;</div>


