<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container notice">
  <h2 class="inline-page-title center-align">
    <a (click)="goBack()" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>Back</a>
  </h2>

  <div class="content entity-details-parent">

    <h4 class="darkGreyHeader top-bottom-margin center-align">{{notice.title}}</h4>

    <h3 class="notice-subtitle">{{notice.group_name}}</h3>
    <h5 class="notice-sub-subtitle">{{notice.school_name}}</h5>
    <p class="notice-date">published: {{ notice.show_date | friendlydate }}</p>

    <div class="image-parent">
      <img class="details-image" *ngIf="notice.image" src="{{ notice.image }}"/>
    </div>
    <p class="details-description-parent" [innerHTML]="notice.description"></p>

    <div class="center-align top-bottom-margin" *ngIf="notice && !!notice.document">
      <a href="{{notice.document}}">View Document</a>
    </div>

  </div>

</div>
