@import "../css/app.scss";

div.avatar {

  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;

}

div.avatar:hover {
  background-color: #FFFFFF;
  opacity: .50;
  -moz-opacity: .50;
  filter: alpha(opacity=50);
}

div.role {

  position: absolute;
  right: 18px;
  bottom: 10px;
  font-weight: 500;
  font-family: Ubuntu;

  .payment {
    color: #ad454a;
  }

}

div.payment {

  position: absolute;
  right: 18px;
  bottom: 5px;
  font-weight: 500;
  font-size:0.9em;
  font-family: Ubuntu;
  color: #ad454a;

}

div.paid {
  color: #338945 !important;
}


div.signature-due {

  position: absolute;
  left: 18px;
  bottom: 5px;
  font-weight: 500;
  font-size:0.9em;
  font-family: Ubuntu;
  color: #ad454a;

}

div.signed {
  color: #338945 !important;
}

div.awaiting-validation {

  position: absolute;
  right: 18px;
  bottom: 5px;
  font-weight: 500;
  font-family: Ubuntu;

}

button.add-group {
  position: absolute;
  right: 20px;
  top: 10px;
}

button.join-group {
  position: absolute;
  right: 180px;
  top: 10px;
}

.home-page {

  h2 {
    margin-top: 30px;
  }

  h3.no-items {
    margin-top: 50px;
    text-align: center;
  }

  div.tab-content {
    padding-bottom: 100px;
  }

  a.add-new-wrapper {
    margin-top: 30px;
  }

  .home-card {
    width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

  }

  img.home {
    opacity: 0.5;
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #AAAAAA;
    cursor: pointer;
    margin-top:3px;
  }

  .pointer {
    cursor: pointer !important;
  }

  .pointer:focus {
    background-color: #EBEBEB;
  }

  .home-header-image {
    background-size: cover;
  }

  mat-card-title {
    font-size: 18px;
  }

}

i.stats {
  font-size: 1.5rem;
  color: #555555;
}

span.stats-total {
  color: #a2a2a2;
  vertical-align: middle;
  height: 37px;
  display: inline-block;
  padding: 0 15px 0 3px;
  font-size: 14px;
  font-weight: 500;
  margin-left: -9px;
  margin-top: 15px;
  cursor: pointer;

  .user-awaiting-validation {
    color: #bb3d41 !important;
  }

}

span.stats-total:hover {
  color: #4b4b4b;
}

span.stats-total.user-awaiting-validation:hover {
  color: #8f2c30;
}
