<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container content">

  <div class="center-align" style="padding-bottom:0;">
    <img src="/assets/logo.svg" style="width:100px;margin-bottom:20px;"/>
  </div>

  <div class="row">
    <div role="alert" *ngIf="error" class="col s12">
      <span class="red-text text-darken-4">{{ error }}</span>
    </div>
  </div>

  <mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="selectedTabIndex" class="home-page">

    <mat-tab *ngIf="mySchools && mySchools.length > 0" label="My Schools">

      <div class="tab-content">

        <h2 class="center-align" style="padding-bottom:0;position:relative;">My Schools</h2>

        <mat-card class="home-card" *ngFor="let school of mySchools; let i = index">
          <mat-card-header>

            <button style="position:absolute;right:0;top:0;" (click)="editSchool(i)" mat-icon-button>
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

            <button style="position:absolute;right:40px;top:0;" (click)="inviteUsersToSchool(i)" mat-icon-button>
              <mat-icon aria-label="Edit">share</mat-icon>
            </button>

            <mat-card-title>{{ school.name }}</mat-card-title>
          </mat-card-header>
          <div class="home-card-image" (click)="viewSchoolWideEventsCalendar(i)" *ngIf="school.logo" [ngStyle]="{'background-image': getUrl(school.logo)}"></div>
          <mat-card-content>

            <div style="margin:0;padding:0;width: 100%;text-align: right;color:#a2a2a2;">
              <div (click)="viewSchoolAdministrators(i)" class="right">
                <button mat-icon-button>
                  <mat-icon aria-label="Edit">group</mat-icon>
                </button>
              </div>

              <div (click)="viewSchoolWideEventsCalendar(i)" *ngIf="school.school_wide_event_count" class="right">
                <button mat-icon-button>
                  <mat-icon aria-label="Edit">event</mat-icon>
                </button>
                <span class="stats-total">{{ school.school_wide_event_count}} event<span *ngIf="school.school_wide_event_count !== 1">s</span></span>
              </div>
              <div (click)="viewSchoolWideNotices(i)" *ngIf="school.school_wide_notice_count" class="right">
                <button mat-icon-button>
                  <mat-icon aria-label="Edit">assignment</mat-icon>
                </button>
                <span class="stats-total">{{ school.school_wide_notice_count}} notice<span *ngIf="school.school_wide_notice_count !== 1">s</span></span>
              </div>

            </div>

            <pre style="clear:both;" class="notice-details-description">{{school.description}}</pre>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="createSchoolWideNotice(i)">Add School-Wide Notice</button>
            <button mat-raised-button (click)="createSchoolWideEvent(i)">Add School-Wide Event</button>
          </mat-card-actions>
        </mat-card>

      </div>

    </mat-tab>

    <mat-tab label="My Notices ({{myNotices.length}})">
      <div class="tab-content">
        <h2 class="center-align" style="padding-bottom:0;position:relative">{{noticesTitle}}</h2>

        <mat-card class="home-card pointer" *ngFor="let notice of myNotices; let i = index">

          <button (click)="hideEntity($event, 'notice', notice.id)" style="position:absolute;top:10px;right:10px;" mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
          </button>

          <button *ngIf="notice.group_member_role === 'admin' || notice.group_member_role === 'owner' || notice.school_member_role === 'admin' || notice.school_member_role === 'owner'"
                  (click)="editEntity($event, 'notice', notice.id, notice.group_id, notice.school_id)"
                  style="position:absolute;top:10px;right:60px;" mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button>

          <mat-card-header (click)="viewNoticeDetails(notice)">
            <div [ngStyle]="{'background-image': getUrl(notice.group_image)}" *ngIf="notice.group_image"
                 mat-card-avatar class="home-header-image"></div>
            <mat-card-title>{{ notice.title }}</mat-card-title>
            <mat-card-subtitle>{{notice.group_name}}</mat-card-subtitle>
          </mat-card-header>
          <div class="home-card-image" (click)="viewNoticeDetails(notice)" *ngIf="notice.image" [ngStyle]="{'background-image': getUrl(notice.image)}"></div>
          <mat-card-content (click)="viewNoticeDetails(notice)">
            <p class="notice-date">Published {{ notice.show_date }}</p>
            <h5 *ngIf="!notice.school_wide" class="notice-sub-subtitle">{{notice.school_name}}</h5>
            <div class="notice-details-description" [innerHTML]="notice.description"></div>

          </mat-card-content>
          <mat-card-actions>

            <div *ngIf="notice.signature_document_id && (!notice.signature_user_document_status || notice.signature_user_document_status !== 'complete')" class="signature-due">Signature Required</div>
            <div *ngIf="notice.signature_document_id && notice.signature_user_document_status === 'complete'" class="signature-due signed">Signature Received</div>

            <div *ngIf="notice.payment_applicable && !notice.notice_payment_amount" class="payment">Payment Applicable</div>
            <div *ngIf="notice.payment_applicable
            && notice.notice_payment_amount
            && notice.notice_payment_currency" class="payment paid">{{notice.notice_payment_currency}} {{ notice.notice_payment_amount | number:'1.2' }} paid
            </div>
          </mat-card-actions>
        </mat-card>

      </div>

    </mat-tab>

    <mat-tab label="Upcoming Events ({{myEvents.length}})">

      <div class="tab-content">

        <h2 class="center-align" style="padding-bottom:0;">{{eventsTitle}}</h2>

        <mat-card class="home-card pointer" *ngFor="let event of myEvents; let i = index">

          <button (click)="hideEntity($event, 'event', event.id)" style="position:absolute;top:10px;right:10px;" mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
          </button>

          <button *ngIf="event.group_member_role === 'admin' || event.group_member_role === 'owner' || event.school_member_role === 'admin' || event.school_member_role === 'owner'"
                  (click)="editEntity($event, 'event', event.id, event.group_id, event.school_id)"
                  style="position:absolute;top:10px;right:60px;" mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button>

          <mat-card-header (click)="viewEventDetails(event)">
            <div *ngIf="event.group_image" [ngStyle]="{'background-image': getUrl(event.group_image)}"
                 mat-card-avatar class="home-header-image"></div>
            <mat-card-title>{{ event.title }}</mat-card-title>
            <mat-card-subtitle>{{event.group_name}}</mat-card-subtitle>
          </mat-card-header>
          <div class="home-card-image" (click)="viewEventDetails(event)" *ngIf="event.image" [ngStyle]="{'background-image': getUrl(event.image)}"></div>
          <mat-card-content (click)="viewEventDetails(event)">
            <p class="notice-date">{{ event.start_date | eventdatetime }}</p>
            <h5 *ngIf="!event.school_wide" class="notice-sub-subtitle">{{event.school_name}}</h5>
            <div [innerHTML]="event.description" class="notice-details-description"></div>
          </mat-card-content>
          <mat-card-actions>

            <div *ngIf="event.signature_document_id && (!event.signature_user_document_status || event.signature_user_document_status !== 'complete')" class="signature-due">Signature Required</div>
            <div *ngIf="event.signature_document_id && event.signature_user_document_status === 'complete'" class="signature-due signed">Signature Received</div>

            <div *ngIf="event.payment_applicable && !event.event_payment_amount" class="payment">Payment Applicable</div>
            <div *ngIf="event.payment_applicable
            && event.event_payment_amount
            && event.event_payment_currency" class="payment paid">{{event.event_payment_currency}} {{ event.event_payment_amount | number:'1.2' }} paid
            </div>
          </mat-card-actions>

        </mat-card>

      </div>


    </mat-tab>

    <mat-tab label="My Homework ({{myHomework.length}})">
      <div class="tab-content">
        <h2 class="center-align" style="padding-bottom:0;">{{homeworkTitle}}</h2>

        <mat-card class="home-card pointer" *ngFor="let notice of myHomework; let i = index">

          <button (click)="hideEntity($event, 'notice', notice.id)" style="position:absolute;top:10px;right:10px;" mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
          </button>

          <button *ngIf="notice.group_member_role === 'admin' || notice.group_member_role === 'owner' || notice.school_member_role === 'admin' || notice.school_member_role === 'owner'"
                  (click)="editEntity($event, 'homework', notice.id, notice.group_id, notice.school_id)"
                  style="position:absolute;top:10px;right:60px;" mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button>

          <mat-card-header (click)="viewNoticeDetails(notice)">
            <div [ngStyle]="{'background-image': getUrl(notice.group_image)}" *ngIf="notice.group_image"
                 mat-card-avatar class="home-header-image"></div>
            <mat-card-title>{{ notice.title }}</mat-card-title>
            <mat-card-subtitle>{{notice.group_name}}</mat-card-subtitle>
          </mat-card-header>
          <div class="home-card-image" (click)="viewNoticeDetails(notice)" *ngIf="notice.image" [ngStyle]="{'background-image': getUrl(notice.image)}"></div>
          <mat-card-content (click)="viewNoticeDetails(notice)">
            <p class="notice-date">Published {{ notice.show_date }}</p>
            <h5 *ngIf="!notice.school_wide" class="notice-sub-subtitle">{{notice.school_name}}</h5>
            <div class="notice-details-description" [innerHTML]="notice.description"></div>

          </mat-card-content>

        </mat-card>

      </div>

    </mat-tab>

    <mat-tab label="My Groups">

      <div class="tab-content">

        <button mat-raised-button color="accent" class="add-group" (click)="addNewGroup()">Create new Group</button>

        <button mat-raised-button color="primary" class="join-group" (click)="joinGroup()">Join Group</button>

        <h2 class="center-align" style="clear:both;margin-top:40px;padding-bottom:0;">{{groupsTitle}}</h2>

        <mat-card class="home-card" *ngFor="let group of myGroups; let i = index">

          <button (click)="leaveGroup($event, group.id)" style="position:absolute;top:0px;right:0px;" mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
          </button>

          <mat-card-header>

            <button *ngIf="group.role !== 'member' && group.validated" style="position:absolute;right:40px;top:0;" (click)="editGroup(i)" mat-icon-button>
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

            <button *ngIf="group.role !== 'member' && group.validated" style="position:absolute;right:80px;top:0;" (click)="inviteUsersToGroup(i)" mat-icon-button>
              <mat-icon aria-label="Edit">share</mat-icon>
            </button>

            <div *ngIf="group.school_logo" [ngStyle]="{'background-image': getUrl(group.school_logo)}"
                 mat-card-avatar class="home-header-image"></div>
            <mat-card-title>{{ group.name }}</mat-card-title>
            <mat-card-subtitle>{{group.school_name}}</mat-card-subtitle>
          </mat-card-header>
          <div class="home-card-image" (click)="viewEventsCalendar(i)" *ngIf="group.image" [ngStyle]="{'background-image': getUrl(group.image)}"></div>
          <mat-card-content>

            <div style="margin:0;padding:0;width: 100%;text-align: right;color:#a2a2a2;">
              <div (click)="viewEventsCalendar(i)" *ngIf="group.event_count && group.validated" class="right">
                <button mat-icon-button>
                  <mat-icon aria-label="Edit">event</mat-icon>
                </button>
                <span class="stats-total">{{ group.event_count}} event<span *ngIf="group.event_count !== 1">s</span></span>
              </div>
              <div (click)="viewGroupNotices(i)" *ngIf="group.notice_count && group.validated" class="right">
                <button mat-icon-button>
                  <mat-icon aria-label="Edit">assignment</mat-icon>
                </button>
                <span class="stats-total">{{ group.notice_count}} notice<span *ngIf="group.notice_count !== 1">s</span></span>
              </div>
              <div (click)="viewGroupHomework(i)" *ngIf="group.homework_count && group.validated" class="right">
                <button mat-icon-button>
                  <mat-icon aria-label="Edit">note</mat-icon>
                </button>
                <span class="stats-total">{{ group.homework_count}} homework<span *ngIf="group.homework_count !== 1">s</span></span>
              </div>
              <div (click)="viewGroupMembers(i)" *ngIf="group.member_count && group.role !== 'member' && group.validated" class="right">
                <button mat-icon-button>
                  <mat-icon aria-label="Edit">group</mat-icon>
                </button>
                <span class="stats-total">{{ group.member_count}} member<span *ngIf="group.member_count !== 1">s</span></span>
              </div>
              <div (click)="viewGroupMembers(i)" *ngIf="group.awaiting_validation_count && group.role !== 'member' && group.validated" class="right">
                <button mat-icon-button>
                  <mat-icon aria-label="Edit">star</mat-icon>
                </button>
                <span class="stats-total user-awaiting-validation">{{ group.awaiting_validation_count}} user<span *ngIf="group.awaiting_validation_count !== 1">s</span> awaiting validation</span>
              </div>

            </div>

            <div style="clear:both;" class="notice-details-description">{{group.description}}</div>
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="group.role !== 'member' && group.validated && group.include_homework" mat-raised-button (click)="createHomework(i)">Add Homework</button>
            <button *ngIf="group.role !== 'member' && group.validated" mat-raised-button (click)="createNotice(i)">Add Notice</button>
            <button *ngIf="group.role !== 'member' && group.validated" mat-raised-button (click)="createEvent(i)">Add Event</button>
            <div *ngIf="group.validated" class="role">{{ group.role }}</div>
            <div *ngIf="!group.validated" class="awaiting-validation">Awaiting validation</div>
          </mat-card-actions>
        </mat-card>
      </div>

    </mat-tab>

  </mat-tab-group>

</div>
