<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container content">

  <div class="center-align" style="padding-bottom:0;">
    <img src="/assets/ping_logo_01.png" style="width:100px;margin-bottom:20px;"/>
  </div>

  <div *ngIf="mySchools && mySchools.length > 0" class="center-align" style="padding-bottom:10px;padding-top:10px;">

    <h2 class="center-align" style="padding-bottom:0;">My Schools</h2>

    <div class="row">
      <div style="margin-left:auto;margin-right:auto;" class="col s12">
        <div style="max-width:800px;margin-left:auto;margin-right:auto;" *ngFor="let school of mySchools; let i = index;"
             class="card darken-1">
          <div class="card-content">

            <span style="clear: both" class="card-title">{{ school.name }}</span>

            <a (click)="editSchool(i)" class="edit-group btn-floating halfway-fab waves-effect waves-light orange"><i
              class="material-icons">edit</i></a>
            <pre class="notice-details-description">{{school.description}}</pre>

          </div>

          <div class="card-action">
            <a (click)="inviteUsersToSchool(i)">Invite Others to School</a>
            <a (click)="viewSchoolAdministrators(i)">School Administrators</a>
            <a (click)="viewSchoolWideNotices(i)">See School-Wide Notices</a>
            <a (click)="viewSchoolWideEventsCalendar(i)">See School-Wide Events</a>
            <a (click)="createSchoolWideNotice(i)">Add School-Wide Notice</a>
            <a (click)="createSchoolWideEvent(i)">Add School-Wide Event</a>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div *ngIf="myNotices && myNotices.length > 0" class="center-align" style="padding-bottom:10px;padding-top:10px;">

    <h2 class="center-align" style="padding-bottom:0;">My Notices</h2>

    <div class="row">
      <div style="margin-left:auto;margin-right:auto;" class="col s12">
        <div (click)="viewNoticeDetails(notice)" style="max-width:800px;margin-left:auto;margin-right:auto;" *ngFor="let notice of myNotices; let i = index;"
             class="card darken-1">
          <div class="card-content">

            <p class="card-title">{{ notice.title }}</p>

            <h3 *ngIf="!notice.school_wide" class="notice-subtitle">{{notice.group_name}}</h3>
            <h5 class="notice-sub-subtitle">{{notice.school_name}}</h5>
            <p class="notice-date">Published {{ notice.show_date }}</p>

            <pre class="notice-details-description">{{notice.description}}</pre>

          </div>

        </div>
      </div>
    </div>

  </div>

  <div *ngIf="myEvents && myEvents.length > 0" class="center-align" style="padding-bottom:10px;padding-top:10px;">

    <h2 class="center-align" style="padding-bottom:0;">My Events</h2>

    <div class="row">
      <div style="margin-left:auto;margin-right:auto;" class="col s12">
        <div (click)="viewEventDetails(event)" style="max-width:800px;margin-left:auto;margin-right:auto;" *ngFor="let event of myEvents; let i = index;"
             class="card darken-1">
          <div class="card-content">

            <p class="card-title">{{ event.title }}</p>

            <h3 *ngIf="!event.school_wide" class="notice-subtitle">{{event.group_name}}</h3>
            <h5 class="notice-sub-subtitle">{{event.school_name}}</h5>
            <p class="notice-date">{{ event.start_date | friendlydate }}</p>

            <pre class="notice-details-description">{{event.description}}</pre>

          </div>

        </div>
      </div>
    </div>

  </div>

  <h2 class="center-align" style="padding-bottom:0;">My Groups</h2>

  <div class="row">
    <div role="alert" *ngIf="error" class="col s12">
      <span class="red-text text-darken-4">{{ error }}</span>
    </div>
  </div>

  <a class="add-new-wrapper" (click)="addNewGroup()">
    <div class="btn-floating btn-large waves-effect waves-light orange">
      <i class="material-icons">add</i>
    </div>
    <span>Add a Group</span>
  </a>


  <div class="row">
    <div style="margin-left:auto;margin-right:auto;" class="col s12">
      <div style="max-width:800px;margin-left:auto;margin-right:auto;" *ngFor="let group of myGroups; let i = index;"
           class="card darken-1">
        <div class="card-content">

          <div *ngIf="group.event_count" class="right"><a (click)="viewEventsCalendar(i)"><i class="small material-icons stats">event_note</i><span class="stats-total">{{ group.event_count}}</span></a>
          </div>
          <div *ngIf="group.notice_count" class="right"><a (click)="viewGroupNotices(i)"><i class="small material-icons stats">assignment</i><span class="stats-total">{{ group.notice_count}}</span></a>
          </div>
          <div *ngIf="group.member_count" class="right"><a (click)="viewGroupMembers(i)"><i class="small material-icons stats">group</i><span class="stats-total">{{ group.member_count}}</span></a>
          </div>

          <span style="clear: both" class="card-title">{{ group.name }}</span>
          <p class="group-school-name">{{group.school_name}}</p>

          <a (click)="editGroup(i)" class="edit-group btn-floating halfway-fab waves-effect waves-light orange"><i
            class="material-icons">edit</i></a>
          <pre style="font-family:Lato;color:#444444;line-break: auto;word-wrap: normal;">{{group.description}}</pre>

        </div>
        <div class="card-action">
          <p>{{group.schoolName}}</p>
          <div class="row">
            <div class="col m2 s6"></div>
          </div>
          <a (click)="viewGroupNotices(i)">See Notices</a>
          <a (click)="viewEventsCalendar(i)">See Events</a>
          <a (click)="createNotice(i)">Add Notice</a>
          <a (click)="createEvent(i)">Add Event</a>
          <a (click)="inviteUsersToGroup(i)">Invite Others to Group</a>
          <div class="role">{{ group.role }}</div>
        </div>
      </div>
    </div>
  </div>

</div>
