@import "../css/app.scss";

div.avatar {

  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;

}

div.avatar:hover {
  background-color: #FFFFFF;
  opacity: .50;
  -moz-opacity: .50;
  filter: alpha(opacity=50);
}

div.role {

  position: absolute;
  right: 18px;
  bottom: 10px;
  font-weight: 500;
  font-family: Ubuntu;

}

.home-page {

  h2 {
    margin-top: 30px;
  }

  div.tab-content {
    padding-bottom: 100px;
  }

  a.add-new-wrapper {
    margin-top: 30px;
  }

  .home-card {
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

  }

  .pointer {
    cursor: pointer !important;
  }

  .pointer:focus {
    background-color:#EBEBEB;
  }

  .home-header-image {
    background-size: cover;
  }

}

i.stats {
  font-size: 1.5rem;
  color: #555555;
}

span.stats-total {
  color: #a2a2a2;
  vertical-align: middle;
  height: 37px;
  display: inline-block;
  padding: 0 15px 0 3px;
  font-size: 14px;
  font-weight: 500;
  margin-left: -9px;
  margin-top: 15px;
  cursor: pointer;
}
