<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="wide-container notices">
  <div class="content">
    <h2 class="inline-page-title center-align">
      <a routerLink="/" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>Back</a>
      Notices</h2>

    <a *ngIf="groupAdmin" class="add-new-wrapper" (click)="addNewNotice()">
      <div class="btn-floating btn-large waves-effect waves-light orange">
        <i class="material-icons">add</i>
      </div>
      <span>Add a Notice</span>
    </a>

    <table style="margin-top:30px;" class="bordered">
      <thead>
      <th>Notice Title</th>
      <th class="center-align">Date Published</th>
      <th>Status</th>
      <th *ngIf="groupAdmin" class="right-align">Email Open Rate</th>
      <th *ngIf="groupAdmin" class="center-align">Signatures</th>
      <th *ngIf="groupAdmin" class="center-align">Payments</th>
      <th *ngIf="groupAdmin" class="center-align">Edit</th>
      <th *ngIf="groupAdmin" class="center-align">Delete</th>
      </thead>
      <tbody>
      <tr ngClass="noticeStatusClass(notice)" *ngFor="let notice of notices; let i = index"
          [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}">
        <td [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}">
          <a *ngIf="groupAdmin || !notice.future_date" (click)="viewNoticeDetails(notice)">{{ notice.title | ellipsis:20 }}</a>
          <span *ngIf="!groupAdmin && notice.future_date">{{ notice.title | ellipsis:20 }}</span>
        </td>
        <td [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}" class="center-align">{{ notice.show_date | friendlydate }}</td>
        <td [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}">{{ noticeActiveStatus(notice) }}</td>

        <td *ngIf="groupAdmin" class="right-align">
          <span *ngIf="notice.emails_opened_stats">{{notice.emails_opened_stats}}</span>
          <span *ngIf="!notice.emails_opened_stats">-</span>
        </td>

        <td *ngIf="groupAdmin" class="center-align">

          <a [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}" *ngIf="notice.signature_document_id && notice.signature_document_template_id" (click)="viewNoticeSignedDocs(notice);">
            <i class="material-icons">border_color</i></a>
        </td>
        <td *ngIf="groupAdmin" class="center-align">

          <a [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}"
             *ngIf="notice.payment_applicable"
             (click)="viewNoticePayments(notice);"><i class="material-icons">payment</i></a>

        </td>
        <td *ngIf="groupAdmin" class="center-align">
          <a [ngClass]="{'past-event' : notice && !notice.future_date}" (click)="editNotice(notice)"><i class="material-icons">create</i></a>

        </td>
        <td *ngIf="groupAdmin" class="center-align">
          <a [ngClass]="{'past-event' : notice && !notice.future_date}" (click)="deleteNotice(notice, i)"><i class="material-icons">delete</i></a>
        </td>

      </tr>
      </tbody>
    </table>


  </div>
</div>
