<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="container notices">
  <div class="content">
    <h2 class="inline-page-title center-align">
      <a routerLink="/" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>Back</a>
      Notices</h2>

    <a class="add-new-wrapper" (click)="addNewNotice()">
      <div class="btn-floating btn-large waves-effect waves-light orange">
        <i class="material-icons">add</i>
      </div>
      <span>Add a Notice</span>
    </a>

    <table style="margin-top:30px;" class="bordered">
      <thead>
      <th>Notice Title</th>
      <th class="center-align">Date Published</th>
      <th>Status</th>
      <th class="center-align">Signatures</th>
      <th class="center-align">Payments</th>
      <th class="center-align">Edit</th>
      <th class="center-align">Delete</th>
      </thead>
      <tbody>
      <tr ngClass="noticeStatusClass(notice)" *ngFor="let notice of notices; let i = index">
        <td><a (click)="viewNoticeDetails(notice)">{{ notice.title | ellipsis:20 }}</a></td>
        <td class="center-align">{{ notice.show_date | friendlydate }}</td>
        <td>{{ noticeActiveStatus(notice) ? 'Active' : 'Inactive' }}</td>
        <td class="center-align">

          <a *ngIf="notice.signature_document_id && notice.signature_document_template_id" (click)="viewNoticeSignedDocs(notice);">
            <i class="material-icons">border_color</i></a>
        </td>
        <td class="center-align">

          <a *ngIf="notice.payment_applicable"
             (click)="viewNoticePayments(notice);"><i class="material-icons">payment</i></a>

        </td>
        <td class="center-align">
          <a (click)="editNotice(notice)"><i class="material-icons">create</i></a>

        </td>
        <td class="center-align">
          <a (click)="deleteNotice(notice, i)"><i class="material-icons">delete</i></a>
        </td>

      </tr>
      </tbody>
    </table>


  </div>
</div>
