<div *ngIf="loading" class="ping-loading-parent">
  <div class="ping-loading preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="container notices">
  <div class="content">
    <h2 class="inline-page-title center-align">
      <a routerLink="/" class="back-nav cancel-link"><img src="/assets/arrow-left.svg"/>Back</a>
      Homework Items</h2>

    <a *ngIf="groupAdmin" class="add-new-wrapper" (click)="addNewHomework()">
      <div class="btn-floating btn-large waves-effect waves-light orange">
        <i class="material-icons">add</i>
      </div>
      <span>Add a Homework Item</span>
    </a>

    <table style="margin-top:30px;" class="bordered">
      <thead>
      <th>Title</th>
      <th class="center-align">Date Published</th>
      <th>Status</th>
      <th *ngIf="groupAdmin" class="center-align">Edit</th>
      <th *ngIf="groupAdmin" class="center-align">Delete</th>
      </thead>
      <tbody>
      <tr ngClass="noticeStatusClass(notice)" *ngFor="let notice of notices; let i = index"
          [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}">
        <td><a [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}" (click)="viewNoticeDetails(notice)">{{
          notice.title | ellipsis:20 }}</a></td>
        <td [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}" class="center-align">{{ notice.show_date |
          friendlydate }}
        </td>
        <td [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}">{{ noticeActiveStatus(notice) }}
        </td>
        <td *ngIf="groupAdmin" class="center-align">
          <a [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}" (click)="editNotice(notice)"><i
            class="material-icons">create</i></a>
        </td>
        <td *ngIf="groupAdmin" class="center-align">
          <a [ngClass]="{'past-event' : notice && !notice.future_date, 'upcoming-event' : notice && notice.upcoming_date}" (click)="deleteNotice(notice, i)"><i
            class="material-icons">delete</i></a>
        </td>

      </tr>
      </tbody>
    </table>


  </div>
</div>
